<ul class="questionnaires">
	{{#each model as |questionnaire|}}
		<li class="questionnaires__item">
			{{#link-to "questionnaires.about" questionnaire}}{{questionnaire.title}}{{/link-to}}
		</li>
	{{/each}}
</ul>

{{outlet}}