<ul class="questionnaires">
	{{#each model as |questionnaire|}}
		<li class="questionnaires-item">
			{{#link-to "about" questionnaire.id class="questionnaires-item__link"}}
				{{questionnaire.title}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>